//  https://flatuicolors.com/palette/defo

@mixin box {
    border-radius: 1%;
    border: 1px solid white;
}
@mixin latoHeader {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: 100;
    letter-spacing: .3rem;
    color: white;
    font-size: 2rem;
    font-weight: 100;
    background: rgba(black, .5);
}
@mixin latoP {
    font-style: italic;
    text-align: center;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: .15rem;
    line-height: 140%;
    background: rgba(black, .5);
    color: white;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 2rem;
    background-image: linear-gradient(to bottom right, lighten(#3498db, 10%), darken(#3498db, 5%));
}

.pic {
    @include box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    min-width: 30rem;
    flex: .25;
    margin: 2.5rem;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-timing-function: ease-in-out;
    transform-style: preserve-3d;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    
    &__header {
        @include latoHeader;
        padding: 1rem;
        transform: scaleY(0);
        transition: all .3s;
        transition-delay: all .3s;
        transform-origin: top;
        opacity: 0;
        max-height: 25vh;
    }
    &__description {
        @include latoP;
        padding: 1rem 1.75rem 1.75rem 1.75rem;
        transform: scaleY(0);
        transition: all .2s;
        transition-delay: .2s;
        transform-origin: bottom;
        max-height: 15rem;
        overflow-y: scroll;
        opacity: 0;

        &::-webkit-scrollbar {
            width: 7.5px;
            background: inherit;
            
            &-track {
                width: 5px;
            }
            &-thumb {
                background: white;
                border-radius: 25%;
            }
        }
    }
    &:hover {
        transform: scale(1.05);
    }
    &:hover .pic__header {
        transform: scaleY(1);
        opacity: 1;
    }
    &:hover .pic__description {
        transform: scaleY(1);
        opacity: 1;
    }
}