//  https://flatuicolors.com/palette/defo

@mixin box {
    border-radius: 1%;
    border: 1px solid white;
    box-shadow: 0 1rem 7rem white;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-image: linear-gradient(to bottom right, lighten(#3498db, 10%), darken(#3498db, 5%));
    
    &::-webkit-scrollbar {
        width: 10px;
        background: inherit;
        
        &-track {
            width: 5px;
        }
        &-thumb {
            background: white;
            border-radius: 25%;
        }
    }
    
}
.parent {
    @include box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    transform-style: preserve-3d;
    perspective: 100rem;
    transform: rotateX(15deg);
}
.pic {
    @include box;
    height: 40vh;
    min-width: 30rem;
    flex: .25;
    margin: 2.5rem;
    transition: all .5s;
    transition-timing-function: ease-in-out;
    cursor: pointer;

    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 2rem 10rem white;
    }
}
