*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }
  *::-webkit-scrollbar,
  *::before::-webkit-scrollbar,
  *::after::-webkit-scrollbar {
    width: 10px;
    background: inherit; }
    *::-webkit-scrollbar-track,
    *::before::-webkit-scrollbar-track,
    *::after::-webkit-scrollbar-track {
      width: 5px; }
    *::-webkit-scrollbar-thumb,
    *::before::-webkit-scrollbar-thumb,
    *::after::-webkit-scrollbar-thumb {
      background: white;
      border-radius: 25%; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-image: linear-gradient(to bottom right, #5faee3, #258cd1); }

.parent {
  border-radius: 1%;
  border: 1px solid white;
  box-shadow: 0 1rem 7rem white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 100rem;
          perspective: 100rem;
  -webkit-transform: rotateX(15deg);
          transform: rotateX(15deg); }

.pic {
  border-radius: 1%;
  border: 1px solid white;
  box-shadow: 0 1rem 7rem white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  min-width: 30rem;
  flex: .25;
  margin: 2.5rem;
  transition: all .5s;
  transition-timing-function: ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }
  .pic__header {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: 100;
    letter-spacing: .3rem;
    color: white;
    font-size: 2rem;
    font-weight: 100;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    padding: 1rem;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    transition: all .3s;
    max-height: 25vh; }
  .pic__description {
    font-style: italic;
    text-align: center;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: .15rem;
    line-height: 140%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    padding: 1rem 1.75rem 1.75rem 1.75rem;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    transition: all .2s;
    transition-delay: .2s;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    max-height: 15rem;
    overflow-y: scroll; }
    .pic__description::-webkit-scrollbar {
      width: 10px;
      background: inherit; }
      .pic__description::-webkit-scrollbar-track {
        width: 5px; }
      .pic__description::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 25%; }
  .pic:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    box-shadow: 0 2rem 10rem white; }
  .pic:hover .pic__header {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .pic:hover .pic__description {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); }
